{% extends 'base.html' %}
{% block title %}{{ b.title }} · 悬赏详情{% endblock %}
{% block content %}
<div id="vue-app"></div>
<script>
  window.__PAGE_DATA__ = {
    b: {{ b | tojson }},
    attachments: {{ attachments | tojson }},
    answers: {{ answers | tojson }},
    adopted: {{ adopted | tojson }},
    myAnswer: {{ my_answer | tojson }},
    canAnswer: {{ can_answer | tojson }},
    isPublisher: {{ is_publisher | tojson }},
    now: {{ now | tojson }}
  };
</script>
{% endblock %}
{% block vue_script %}
<script src="{{ url_for('static', filename='views/bounty_detail.js') }}"></script>
{% endblock %}
